.scenarioThreeContainer {
    position: absolute;
    top: 10px;
    width: calc(100% - 250px);
    left: 250px;
}

.ant-list-item-meta-title {
    margin: 0;
}

.ant-modal-close {
    display: none;
}

.connection-title {
    cursor: pointer;
}